body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgSect{
  background-image: url(https://images8.alphacoders.com/981/981684.jpg);
}

.maxW{
  max-width: 3rem;
}

.woodImg{
  background-image: url(https://i.etsystatic.com/15595500/r/il/09d213/1958943499/il_fullxfull.1958943499_rzfs.jpg);
  
  
}

.reset{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 35%;
}

.resetLoad{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}